body {
    background-color: rgb(110, 105, 131);
}

h1 {
    color : #060c36
}

header {
    text-align: center;
}

img {
    width: 210px;
    border-radius: 10px;
    border-color:rgb(225, 240, 250)
    border-width: 11px;

}button {
    width: 200px;
    border: black solid 1px;
    background-color: #3f3d7f;
    border-radius: 1px;
}